*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.header{
    height: 10vh;
    width: 100%;
    background-color: rgba(37, 37, 37, 0.795);
}

.header h2{
    padding: 1.8rem;
    font-size: 2rem;
    color: #f3f3f3;
}

.templates{
    display: flex;
    margin: 3rem 3rem;
    justify-content: space-around;
    flex-wrap: wrap;
}

.template{
    overflow: hidden;
    margin: 2rem 2rem;
    position: relative;
    border-radius: 1rem;
}

.template p a{
    position: absolute;
    color: rgb(231, 231, 231);
    bottom: 4px;
    font-weight: 800;
    padding: 1.3rem;
    width: 100%;
    background-color: rgba(63, 63, 63, 0.938);
    text-decoration: none;
    text-transform: uppercase;
}

.template img{
    height: 250px;
    width: 300px;
}

.template:hover{
    filter: brightness(0.8);
    transition: ease-in 0.1s;
}

.template a:hover{
    text-decoration: underline;
}

footer{
    background-color: rgba(37, 37, 37, 0.795);
}

footer p{
    padding: 1.3rem;
    color: rgb(231, 231, 231);
    text-align: center;
    font-size: 1.1rem;
}