body{
    margin: 0;
    padding: 0;
}

.bg{
    position: relative;
    background: #00fdff url(../../img/special.jpg);
    height: 100vh;
    background-size: cover;
    background-position: 0 0;
    background-repeat: repeat-x;
    animation: animate 15s linear infinite;
}

.car{
    position: absolute;
    bottom: 20px;
    left: 20px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: -8px 3px 25px 1px rgba(0,0,0,0.75);
}

@keyframes animate{
    from{
        background-position: 0 0;
    }
    to{
        background-position: 100% 0;
    }
}